fireblocks_sdk==1.12.0
web3==5.26.0
eth-keyfile>=0.6.0 # not directly required, pinned by Snyk to avoid a vulnerability
websockets>=10.0 # not directly required, pinned by Snyk to avoid a vulnerability
